/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Font*/
body {
	font-family: 'Brygada 1918', serif;
}

html {
	scroll-behavior: smooth;
}


#top {
	background-color: #25363e;
}



#profile {
	background-color: #B7D8EA;
	padding-top: 100px;
	padding-bottom: 50px;
}





.profile-caption {
	 margin-top: 50px;
	 margin-right: 150px;
	 font-size: 1rem;
	 text-align: center;
}

/*.profile-caption h1 {
	
}
*/


#hrline {
	background-color: #B7D8EA;
}


#hrlinetools {
	border-color: #FFFFFF;
	border-width: 2px;
}


#myprojects {
	background-color: #B7D8EA;
	text-align: center;
}


#tools {
	background-color: #B7D8EA;
	
}


#contactme {
	background-color: #B7D8EA;
}


.form-group {
	text-align: center;
	background-color: white;
	border: solid 0.5px;
	}

button {
	text-align: center;
	border: none;
	height: 35px;
	width: 80px;
	}

/*#maps {
	background-color: #B7D8EA
}*/

#footer {
	background-color: #27323C;
	padding: 0;
}